<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.mvclopes.mygists">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_gist"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_gist"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGists">
        <activity android:name="br.com.mvclopes.mygists.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>